.team{
    background-image:url('../images/divbg.jpg');
    background-size:cover;
	height: 900px;
}
.member1{
	height: 200px;
	width: 200px;
	display: block;
	margin: 0 auto;
	background-image: url('../images/pic1.png');
	background-size: cover;
}
.member1:hover{
	background-image: url('../images/pic11.png');
	background-size: cover;
	z-index: 10;
}
.line{
	height: 220px;
	width: 60%;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.member2{
	position: absolute;
	height: 200px;
	width: 200px;
	display: block;
	background-image: url('../images/pic2.png');
	background-size: cover;
	left:0;
}
.member2:hover{
	background-image: url('../images/pic22.png');
	background-size: cover;
	z-index: 10;
}

.member3{
	position: absolute;
	height: 200px;
	width: 200px;
	display: block;
	background-image: url('../images/pic3.png');
	background-size: cover;
	right:0;
}
.member3:hover{
	background-image: url('../images/pic33.png');
	background-size: cover;
	z-index: 10;
}

.line2{
	
	display: block;
	width: 40%;
	margin: 0 auto;
}

.member4{
	
	height: 200px;
	width: 200px;
	display: block;
	background-image: url('../images/pic4.png');
	background-size: cover;
	float:left;
}
.member4:hover{
	background-image: url('../images/pic44.png');
	background-size: cover;
	z-index: 10;
}

.member5{
	
	height: 200px;
	width: 200px;
	display: block;
	background-image: url('../images/pic5.png');
	background-size: cover;
	float:right;
}
.member5:hover{
	background-image: url('../images/pic55.png');
	background-size: cover;
	z-index: 10;
}
